<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
  <!-- style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;" -->
  <!-- Mask -->
  <span class="mask bg-green opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 class="text-white medium m-0">Client Management</h1>
      </div>
    </div>
  </div>
  </div>
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Client Edit</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>            
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-id">Id</label>
                    <input type="text" id="input-id" class="form-control form-control-alternative" placeholder="id" value="45658" disabled="">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">Name</label>
                    <input type="text" id="input-name" class="form-control form-control-alternative" placeholder="Name" value="Connor">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-legal-name">Legal Name</label>
                    <input type="text" id="input-legal-name" class="form-control form-control-alternative" placeholder="Legal Name" value="Connor">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-type">Type</label>
                    <input type="text" id="input-type" class="form-control form-control-alternative" placeholder="Type" value="type1">
                  </div>
                </div>
              </div>              
              <div class="row">                  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email-id">Email ID</label>
                      <input type="text" id="input-email-id" class="form-control form-control-alternative" placeholder="Email ID" value="test@gmail.com">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-currancy">CURRENCY</label>
                      <input type="text" id="input-currancy" class="form-control form-control-alternative" placeholder="CURRENCY" value="60$">
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <a href="#/client-management" class="btn btn-info">Submit</a>
                      <a href="#/client-management" class="btn btn-warning">cancel</a>
                    </div>
                  </div>
              </div>                
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
