<div class="header bg-primary py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-white">You can register as a client</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h3>sign up with credentials</h3>
          </div>
          <form role="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>

                <!-- <input class="form-control" placeholder="Company Name" type="text"> -->
                <input type="text" placeholder="Company Name" formControlName="CompanyName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.CompanyName.errors }" />
                <div *ngIf="submitted && f.CompanyName.errors" class="invalid-feedback">
                  <div *ngIf="f.CompanyName.errors.required">Company Name is required</div>
                </div>



              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i _ngcontent-c2="" class="ni ni-single-02"></i></span>
                </div>
                <!-- <input class="form-control" placeholder="Client Name" type="text"> -->
                <input type="text" placeholder="Client Name" formControlName="FullName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.FullName.errors }" />
                <div *ngIf="submitted && f.FullName.errors" class="invalid-feedback">
                  <div *ngIf="f.FullName.errors.required">Client Name is required</div>
                </div>


              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <!-- <input class="form-control" placeholder="Email" type="email"> -->

                <input type="text" formControlName="EmailId" class="form-control" placeholder="Email"
                  [ngClass]="{ 'is-invalid': submitted && f.EmailId.errors }" />
                <div *ngIf="submitted && f.EmailId.errors" class="invalid-feedback">
                  <div *ngIf="f.EmailId.errors.required">Email is required</div>
                  <div *ngIf="f.EmailId.errors.email">Please enter valid Email.</div>
                </div>


              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i _ngcontent-c11="" class="ni ni-mobile-button"></i></span>
                </div>

                <!-- <input class="form-control" placeholder="Mobile Number" type="text"> -->

                <input type="number" minlength="10" maxlength="10" placeholder="Mobile Number"
                  formControlName="MobileNumber" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.MobileNumber.errors }" />
                <div *ngIf="submitted && f.MobileNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.MobileNumber.errors.required">Mobile Number is required</div>
                  <div *ngIf="f.MobileNumber.errors.minlength">Mobile Number must be 10 digit Number</div>
                </div>


              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i _ngcontent-c11="" class="ni ni-building"></i></span>
                </div>
                <!-- <input class="form-control" placeholder="Industry" type="text"> -->

                <input type="text" placeholder="Industry" formControlName="Industry" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.Industry.errors }" />
                <div *ngIf="submitted && f.Industry.errors" class="invalid-feedback">
                  <div *ngIf="f.Industry.errors.required">Industry is required</div>
                </div>


              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <!-- <input class="form-control" placeholder="Password" type="password"> -->
                <input type="password" formControlName="password" class="form-control" placeholder="Password"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>

              </div>
            </div>
            <!-- <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div> -->
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <!-- <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  IstermsCondition -->

                  <input type="checkbox" formControlName="IstermsCondition" id="IstermsCondition"
                    class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.IstermsCondition.errors }" />
                  <label for="IstermsCondition" class="form-check-label">
                    <span class="text-muted">I agree with the <a [routerLink]="['/TermsAndconditionComponent']">Terms &
                        Condition</a></span>
                  </label>
                  <div *ngIf="submitted && f.IstermsCondition.errors" class="invalid-feedback"> Accept Terms & Condition
                    is required</div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button [disabled]="loading" type="submit" class="btn btn-primary my-4">
                <span *ngIf="loading" class="fas fa-spinner fa-spin"></span>
                Create account</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>